<div class="content-container">
  <div class="footer">
    <div class="address-container">
      <h4 class="address-heading">My Locale</h4>
      <p class="address-description">Bristol,</p>
      <p class="address-description">United Kingdom</p>
      <hr>
    </div>
    <div class="social-container">
      <h4 class="social-heading">Social Stuff</h4>
      <ul class="social-list">
        <li class="social-item"><a>Github</a></li>
        <li class="social-item"><a>LinkedIn</a></li>
        <li class="social-item"><a>Facebook</a></li>
      </ul>
      <hr>
    </div>
    <div class="contact-container">
      <h4 class="contact-heading">Contact Details</h4>
      <ul class="contact-list">
        <li class="contact-item"><strong>Phone:</strong> 07584 132 200</li>
        <li class="contact-item"><strong>Email:</strong> sjw948@gmail.com (primary)</li>
        <li class="contact-item"><strong>Email:</strong> stephen@stephenwright.co.uk (secondary)</li>
      </ul>
    </div>
  </div>
</div>
