<div class="content-container">
  <div class="profile-image-container">
    <img class="profile-image" src="/assets/angular-portfolio/images/profile-picture.png">
  </div>
  <div class="intro-container">
    <h2 class="intro-header">Yo! I'm Stephen</h2>
    <p class="intro-description">I'm an aspiring front-end developer and JavaScript enthusiast.</p>
    <p class="intro-description">Check out my work samples in the work section and my code snippets under my code lab.</p>
    <p class="intro-description">You can reach me on stephen@stephenwright.co.uk if you have any questions.</p>
  </div>
  <div class="work-samples-container">
    <div class="work-sample-item" *ngFor="let example of workSameplsResults | slice:0:3">
      <div class="work-sample-image-container">
        <a href="{{example.url}}" target="_blank"><img class="work-sample-image" src="{{example.imgUrl}}"></a>
      </div>
      <a href="{{example.url}}" target="_blank"><h3 class="work-sample-header">{{example.name}}</h3></a>
      <p class="work-sanple-description">{{example.description}}</p>
      <div class="work-sample-links-container">
        <a href="{{example.githubUrl}}" target="_blank" class="fa fa-github fa-2x work-link"></a><a href="{{example.url}}" target="_blank" class="fa fa-link fa-2x work-link"></a>
      </div>
    </div>
  </div>
</div>
